<div id="questionMediaPopup" class="simplemodal-container" ><a class="modalCloseImg simplemodal-close" title="Close"></a><div tabindex="-1" class="simplemodal-wrap" style="height: 100%; outline: 0px; width: 100%; overflow: auto;"><div id="basic-modal-content" class="simplemodal-data" style="display: block;">
<img src="https://s3.amazonaws.com/LKBG-TG/columbia/checklist.png" alt="">
    </div>
  </div>
</div>
