
  <div id="questionMediaPopup" class="reveal-modal" data-reveal>
    <img src="https://s3.amazonaws.com/LKBG-TG/columbia/checklist.png" alt="">
    <a class="close-reveal-modal">&#215;</a>
  </div>

