<div class="question-content">
  <div class="row answer-chunck">
    <div class="large-12 column">

    <h4>Question</h4>
    <hr>
      <h5 class="loading"><%= raw(@question.questionprompt) %></h5>
    </div>
  </div>
</div>
