<div class="question-content">
  <div class="row answer-chunck">
    <div class="large-12 column">

    <h4>Question</h4>
      <p class=""><%= raw(@question.questionprompt) %></p>
    </div>
  </div>
</div>
