<div class="question-content">
  <div class="row">
    <div class="large-9 column">

    <h4>Questions</h4>
      <p class=""><%=@question.questionprompt %></p>
    </div>
    <div class="large-3 column">
      <% if @question.media %>
        <a href="#" data-reveal-id="questionMediaPopup">
          <%= image_tag("#{@question.media}") %>
          <strong class="enlarge-button">Click to enlarge.</strong>
        </a>
      <% end %>
    </div>
  </div>
</div>


