<h3>
  <%= @scenario.name %>
</h3>
<u>Description</u>
<p>
  <%= @scenario.description %>
</p>


<% @questions.each do |question| %>
<div class="panel">
  <p>
    <%= question.questionprompt %>
  </p>
  <ol>
    <% question.answers.each do |answer| %>
      <li>
        <%= answer.answeroption %>
      </li>
    <% end %>
  </ol>
</div>

<% end %>
