<h1>Edit question</h1>

<form id="edit-question" name="question">
  <div class="field">
    <label for="question"> question:</label>
    <input type="text" name="question" id="question" value="<%= question %>" >
  </div>

  <div class="field">
    <label for="media"> media:</label>
    <input type="text" name="media" id="media" value="<%= media %>" >
  </div>

  <div class="field">
    <label for="answerText"> answerText:</label>
    <input type="text" name="answerText" id="answerText" value="<%= answerText %>" >
  </div>

  <div class="field">
    <label for="state"> state:</label>
    <input type="text" name="state" id="state" value="<%= state %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Questions" />
  </div>

</form>

<a href="#/index">Back</a>
