<h1>Listing questions</h1>

<table id="questions-table">
  <tr>
    <th>Question</th>
    <th>Media</th>
    <th>Answertext</th>
    <th>State</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Questions</a>