<div class="row">
  <div class="column large-9">
    <h4 class="">Course Title</h4>
    <p>Course Description</p>
  </div>
  <div class="column large-3 text-right">
    <%= link_to 'Return to home', root_path, :class=>"return-home button tiny secondary" %>
  </div>
</div>
