<div class="grey-back">
  <div class="row">
    <div class="large-3 column">
      <img src="http://fakeimg.pl/200x60" alt="">
    </div>
    <div class="large-9 column app-status">
      <%= render 'shared/appStatus' %>
    </div>
  </div>
</div>
