<div class="grey-back">
  <div class="row">
    <div class="large-3 column">
      <%= image_tag 'head_cu_cor.gif' %>
    </div>
    <div class="large-9 column app-status">
      <%= render 'shared/appStatus' %>
    </div>
  </div>
</div>
