<ul class="side-nav">
  <div class="status">
    <% if @questions %>
    <% else %>
    <% end %>
  </div>
  <li class="active">Scenario</li>
  <li><a href="#">Link 2</a></li>
  <li class="divider"></li>
  <li><a href="#">Link 3</a></li>
  <li><a href="#">Link 4</a></li>
</ul>
