<ul class="side-nav">
  <div class="status">
    <% if @questions %>
    <h4><%= @questionPosition %>/<span class="denom"><%= @questions.length %></span></h4>
    <% else %>
    <% end %>
  </div>
  <li class="active"><a href="#">Link 1</a></li>
  <li><a href="#">Link 2</a></li>
  <li class="divider"></li>
  <li><a href="#">Link 3</a></li>
  <li><a href="#">Link 4</a></li>
</ul>
