<ul class="no-bullet answer-choices" id="answer-choices">
  <% @answer.each do |answer| %>
  <li id="answer-choice-<%= answer.id %>" class="answer-choice">
    <label>
        <div class="check">
          <div id="checkboxFiveInput"></div>
        </div>
        <div class="clear-fix"></div>
        <%= answer.answeroption %>
      <div class="clear-fix"></div>
    </label>
  </li>
  <% end %>
  <li class="button-contain">
    <%= submit_tag("Submit Answer", :class=>"button full-w", :disabled=>"true") %>
  </li>
</ul>
