<div class="row">

<h3>IONM Web Simulator</h3>
 <p class="subheader">Welcome to the Responding to Intraoperative Neuromonitoring (IONM) Changes Web Simulator created by the Center for Pediatric Orthopaedic Research at the Columbia University Medical Center. We recently created a multi-center consensus-based checklist to standardize surgeon responses to IONM changes.</p>
  <p class="subheader">In order to assist in facilitating the importance of utilizing this checklist and being aware of the various steps and choices to make at the time of a deviation from baseline in intraoperative monitoring, we have created this web simulator.</p>
  <p class="subheader"><i>Please note that the presented cases are based on a true case although deidentified as per HIPAA regulations.</i></p>

<% if @scenarios.any? %>
  <hr>
  <ul class="large-block-grid-1 small-block-grid-1 medium-block-grid-2">

<%= render @scenarios %>

</ul>
<% end %>

</div>
