var $item,
    $this,
    that,
    clickedChoice,
    response = {
      holder:       '',
      textcontent:  '',
      nextquestion: ''
    },
    buttonChecked = false;

$(document).ready(function(){
  checkIfNoOptions();
  centerIframe();
  centerImage();
});

$('.answer-choice').on('vclick', function(){
  that = this;
  removeAllClickHandles();
  addClickPointer(that);
  if($(that).hasClass('clicked')){
    disableSubmitButton();
  }
  enableSubmitButton();
  setUpResponseModal();
});

$('button').on('vclick', function(){
  passClickedToSave();
  checkForClicked();
  loadDataIntoModal();
});

$('.hint-button').on('vclick', function(){
  highlightProceed();
});

function highlightProceed(){
  $('.answer-choice').each(function(i, item){
    $(item).addClass('hinted');
  });
}

function centerIframe(){
  $( "iframe" ).wrap( "<div class='text-center media-container'></div>");
}

function centerImage(){
  $( "img" ).wrap( "<div class='text-align'></div>");
}

function checkIfNoOptions(){
  if( !$('.answers .answer-choice') == false ){
    $('button').removeAttr('disabled');
  }
}

function enableSubmitButton(){
  if( buttonChecked === false ){
    buttonChecked = true;
  }
  if( buttonChecked === true ){
    $('button').removeAttr('disabled');
  }
}

function disableSubmitButton(){
  if( buttonChecked === true ){
    buttonChecked = false;
  }
  if( buttonChecked === false ){
    $('button').attr('disabled');
  }
}

function checkForClicked(){
  $('.answer-choice').each(function(i, item){
    if( $item.hasClass('clicked') ){
      clickedChoice = $item.attr('id');
    }
  });
}

function passClickedToSave(){
  clickedChoice;
}

function removeAllClickHandles(){
  $('.answer-choice').each(function(i, item){
    $item = $(item);
    if( $item.hasClass('clicked') ){
      $item.removeClass('clicked');
    }
  });
}

function addClickPointer(that){
  $this = $(that);
  $this.addClass('clicked');
}

function setUpResponseModal(){
  response.holder       = $('.clicked')[0];
  response.textcontent  = $(response.holder).find('.answer-response-holder').html();
  response.nextquestion = $(response.holder).find('.answer-response-holder').data('response');
}

function loadDataIntoModal(){
  $('#submitResponseContent').html(response.textcontent);
}
