<li>
  <div class="scenario-preview">
    <%= link_to scenario.name do %>
      <img src="<%=scenario.image %>" alt="">
      <h2><%=scenario.name %></h2>
      <p><%=scenario.description %></p>
    <% end %>
  </div>
</li>
