

    <%= render 'questions/question' %>
    <%= render 'answers/answers' %>

    <div class="clearfix">
      <ul>
        <%= render 'questions/pagination' %>
      </ul>
    </div>

    <%= @questionPosition %>

  </div>

