/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require_tree .
 */
.top-bar-section li a:not(.button):hover{
  color: #eee !important;
}

body{
  background-color: rgb(238, 238, 238) !important;
}
html{
  background: #eee;
  border-top: #222 solid (0.9375rem/3);


  &.home{
  }
}

a{
  h5{
    text-decoration: underline;
  }
}

.back-white{
  margin-top:0.9375rem;
  border-top: 10px solid darken(#f6f6f6, 20%);
  padding-top: 0.9375rem;
  background: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
}

.top-bar .toggle-topbar.menu-icon a {
  color: rgb(75, 75, 75) !important;
}

.grey-back{
  background: lighten(rgb(195, 195, 195), 30%);
  padding-top: 1em;
  padding-bottom: 1em;
  box-shadow: inset 0px -4px 13px -7px rgba(0, 0, 0, 0.4);
}

.app-status{
  h4, p{
    margin-bottom: 0em;
  }
}

#questionMediaPopup{
  text-align: center;
}

.return-home{
  margin-bottom: 0em !important;
  margin-top: .8em !important;
}

a.button{
  color: white !important;
}
