// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$primary-color: rgb(0, 121, 161);
$unclicked: #fff;

.answer-choices{
  margin-left: 50px !important;
  margin-bottom: 0em;
}

.button-contain{
  input.button{
    padding-top: .61429rem;
    padding-bottom: .74286rem;
  }
}


.button[disabled], .button[disabled]:hover {
  background-color: rgba(0, 140, 186, 0.2);
  border: 1px dotted rgba(0, 0, 0, 0.2);

}

.answer-choices > li{
  line-height: 34px;
  width: auto;
  background: $unclicked;
  margin-left: 0em;
  padding: 0em;
  &:not(.button-contain){
    margin-bottom: 1em;
    padding-left: .8em;
    border-left: 5px solid #fff;
    &:hover{
      border-left: 5px solid darken(#fff, 20%);
    }
  }
  input{
    margin: 0em;
  }
  label{
    margin-bottom: 0em;
    font-size: 1.1em;
  }
}
.clicked{
  border-left: 5px solid $primary-color !important;
}
.full-w{
  width: 100%;
}
.clear-fix{
  clear: both;
}
/**
 * Display the tick inside the checkbox
 */
.check #checkboxFiveInput:after {
  opacity: 0.1;
  content: '';
  position: absolute;
  width: 21px;
  height: 12px;
  background: rgba(0, 0, 0, 0);
  top: 7px;
  left: 6px;
  border: 3px solid rgb(51, 51, 51);
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/**
 * Create the box for the checkbox
 */

.check #checkboxFiveInput {
  cursor: pointer;
  position: absolute;
  width: 34px;
  height: 34px;
  top: 0;
    left: 0;
  background: #eee;
  border:1px solid #ddd;
}

/**
 * Checkbox Five
 */
.check {
  position: absolute;
  left: 37px;
  width: 34px;
  display: inline-block;
  margin-right: 1em;
}

/**
 * Create the hover event of the tick
 */
.check #checkboxFiveInput:hover::after,
label:hover .check #checkboxFiveInput::after
 {
  opacity: 0.5;
}

/**
 * Create the checkbox state for the tick
 */
.clicked .check #checkboxFiveInput:after {
  opacity: 1 !important;
}

.check input[type=checkbox]{
  visibility: hidden;
  width: 51px;
  height: 36px;
}

.side-nav{
  li{
    line-height: 34px;
    height: 34px;

    border: 1px solid rgb(217, 217, 217);
    background: rgb(242, 242, 242);
    font-size: 1.4em;
    padding-left: 1em;
  }
}

.scenario-list{
  padding-bottom: 0em;
  .button{
    margin-bottom: 0em;
  }
}

