// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.question-text{
  p{
    font-size: 1.3em;
    line-height: 1.5em;
  }
}

.reveal-modal{
  .button{
    &.Back{
      background: red !important;
    }
    &.Next{
      background: rgb(60, 154, 95) !important;
    }
  }
}

.answer-choice.hinted{
  &.success{

  }
  &.alert{
    opacity: .7 !important;
  }

}

button{
  margin-bottom: 0em !important;
}
a{
  &:hover{
    background: none !important;
    color: #333 !important;
    opacity: .9;
  }

}
.enlarge-button{
    opacity: .5;
}

.answer-response-holder{
  display: none;
}
.enlarge-contain{
  position: absolute;
  bottom: 10px;
  right: 25px;
  .fi-arrows-out.large{
  }
}

.answer-chunck{
  margin-bottom: 2em !important;
}
