<div class="question-content">
  <div class="row answer-chunck">
    <div class="large-12 column loading">
    <h4>Introduction (<%= params[:id].to_i+1 %>/<%= @introlength %>)</h4>


    <h5>
      <%= raw(@intro.content) %>
    </h5>

    </div>
  </div>
</div>
